* {
    text-decoration: none;
}

.main1 .header {
    width: 975px;
    display:block;
}

.main1 .header .todaysong a, .header .daily p{
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
    color:black;
}

.main1 .todaysong a:hover {
    color:#3f3fff;
}

.main1 .fa-chevron-right {
    color:black;
}



.main1 ul {
    list-style: none;
    display: flex;
}

li { padding: 6px }

.main1 .select a{
    color: black;
    font-size: 12px;
}
  
.main1 .image-container1, .image-container2 {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
    

}

.main1 .song, .chart {
    width: 175px;
    text-align: left;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    
}

.main1 .mainsong p, .chart-name {
    color :black;
    font-size: 12px;
    margin: 7px;
}

.main1 .mainsong .song1 p:nth-child(1), .mainsong .song2 p:nth-child(1){
    margin-bottom: 1px;

}

.main1 .mainsong .song1 p:nth-child(2), .mainsong .song2 p:nth-child(2){
    color:grey;
    margin-top: 1px;
}


.main1 .songim, .chartim {
    width: 175px;
    height: 170px;
    border-radius: 6px;
}

.main1 .song1 {
    position: relative;
    overflow: visible;
}


.main1 .song i {
    background-color:transparent;
    position: absolute;
    border: none;
    bottom: 75px;
    right: 15px;
}

.main1 .chart i{
    background-color:transparent;
    position: absolute;
    border: none;
    bottom: 55px;
    right: 15px;
}

.main1 .song:hover, .chart:hover{
    filter: brightness(0.75);
}

.main1 .fa-chevron-left:hover, .fa-chevron-right:hover, .song p:nth-child(1):hover, .song p:nth-child(2):hover, .chart-name:hover {
    color: #3f3fff;
}






